body {
  font: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, red, yellow);
}

h1 {
  font: 400 4em 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  width: 100%;
}

h3 {
  font: 900 1em 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}
